[user]
  name = Katsuya Noguchi
  email = katsuya@twitter.com
[color]
  ui = auto
[alias]
  a = add
  l = log
  m = merge
  aa = add --all
  br = branch
  ci = commit
  co = checkout
  dc = diff --cached
  di = diff
  ds = diff --stat
  fa = fetch --all
  st = status
  pod = push origin deploy
  pom = push origin master
[core]
  editor = /usr/bin/vim
  excludesfile = /Users/katsuyanoguchi/.global_ignore
[merge]
  tool = vimdiff
